*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #1b1b1b;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.4);
}

body {
  background-color: #1b1b1b;
}

.header {
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #353535;
  height: 60px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.header .content-icon {
  display: flex;
  align-items: center;
}
.header .content-icon img {
  width: 100%;
  max-width: 30px;
}
.header .content-icon p {
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  margin-left: 1rem;
}
.header .nav .icon-menu {
  display: none;
}
.header .nav .container-nav a {
  text-decoration: none;
  font-weight: 400;
  transition: all 0.3s ease-in-out;
  color: #fff;
  padding: 0.5rem 1rem;
}
.header .nav .container-nav a:hover {
  color: #ff7f50;
}
.header .nav .container-nav a:not(:last-child) {
  margin-right: 1rem;
}
.header .nav .container-nav a.active {
  color: #ff7f50;
}

.footer {
  background-color: #353535;
  padding: 1rem;
}
.footer .content-footer {
  display: flex;
  flex-direction: column;
}
.footer .content-footer .content-skin {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 1rem;
}
.footer .content-footer .content-skin img {
  max-width: 30px;
  width: 100%;
  margin-right: 1rem;
}
.footer .content-footer .container-footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.footer .content-footer .container-footer .item-footer {
  display: flex;
  flex-direction: column;
}
.footer .content-footer .container-footer .item-footer h3 {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 1rem;
  color: #fff;
}
.footer .content-footer .container-footer .item-footer p span {
  color: #ff7f50;
}
.footer .content-footer .container-footer .item-footer p a {
  text-decoration: none;
  color: #fff;
  transition: all 0.3s ease-in-out;
}
.footer .content-footer .container-footer .item-footer p a:hover {
  color: #ff7f50;
}
.footer .content-footer .container-footer .item-footer a {
  text-decoration: none;
  color: #fff;
  transition: all 0.3s ease-in-out;
  margin-bottom: 0.5rem;
}
.footer .content-footer .container-footer .item-footer a:hover {
  color: #ff7f50;
}

@media screen and (max-width: 768px) {
  .header .nav .icon-menu {
    display: block;
    cursor: pointer;
    color: #fff;
    font-size: 1.5rem;
  }
  .header .nav .container-nav {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    max-width: 300px;
    background-color: #353535;
    padding: 1rem;
    flex-direction: column;
    align-items: center;
  }
  .header .nav .container-nav a:not(:last-child) {
    margin-bottom: 1rem;
  }
  .header .nav .container-nav.active {
    display: flex;
  }
  .footer .content-footer .container-footer {
    flex-direction: column;
  }
  .footer .content-footer .container-footer .item-footer {
    margin-bottom: 1rem;
  }
}
.container-about .primary-section {
  position: relative;
  padding: 1em;
  width: 100%;
  height: calc(100vh - 60px);
  background-image: url("../img/background2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.container-about .primary-section .darken {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
  top: 0;
  left: 0;
}
.container-about .primary-section h1 {
  color: #ff7f50;
  font-size: 3rem;
  font-weight: 700;
  z-index: 2;
  position: relative;
  text-align: center;
  margin-top: 10%;
}
.container-about .primary-section p {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 400;
  z-index: 2;
  position: relative;
  text-align: center;
  margin-top: 5%;
}
.container-about .secondary-section {
  background-color: #f8f9fa;
}
.container-about .secondary-section h2 {
  color: #ff7f50;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  padding: 1em;
}
.container-about .secondary-section .container-identity {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.container-about .secondary-section .container-identity .container {
  width: 100%;
  max-width: 350px;
  margin: 1em;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.container-about .secondary-section .container-identity .container h3 {
  color: #ff7f50;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  padding: 1em;
}
.container-about .secondary-section .container-identity .container img {
  width: 100%;
  max-width: 100px;
  margin: 0 auto;
  display: block;
}
.container-about .secondary-section .container-identity .container p {
  color: #1b1b1b;
  font-size: 1rem;
  font-weight: 400;
  text-align: justify;
  padding: 1em;
}