<div class="container-about">
    <div class="primary-section">
        <div class="darken"></div>
        <h1>
            Quiénes somos
        </h1>
        <p>
            En BJRSoftware, reunimos un equipo apasionado de desarrolladores de software comprometidos con la
            excelencia.
            Nuestra experiencia abarca desde el desarrollo web hasta aplicaciones de escritorio, y estamos listos para
            abordar cualquier desafío que se nos presente.
        </p>
    </div>
    <div class="secondary-section">
        <h2>
            Nuestra identidad
        </h2>
        <div class="container-identity">
            <div class="container container-mision">
                <h3>
                    Misión
                </h3>
                <img src="img/mission.png" alt="Misión">
                <p>
                    "Transformar visiones en realidades digitales mediante soluciones de software innovadoras. En
                    BJRSoftware, nos comprometemos a ofrecer a nuestros clientes y socios tecnológicos experiencias
                    excepcionales, superando expectativas a través de la excelencia en el desarrollo de software.
                    Impulsados
                    por la creatividad y la pasión por la tecnología, buscamos construir un futuro digital más accesible
                    y
                    eficiente para todos."
                </p>
            </div>
            <div class="container container-vision">
                <h3>
                    Visión
                </h3>
                <img src="img/vision.png" alt="Visión">
                <p>
                    "Ser reconocidos como líderes en el desarrollo de software, impulsando la innovación y la
                    transformación
                    digital. En BJRSoftware, visualizamos un mundo donde las ideas se materializan en soluciones
                    digitales
                    excepcionales. Aspiramos a ser pioneros en la creación de tecnologías vanguardistas que inspiren y
                    empoderen a individuos y empresas, contribuyendo así al progreso continuo de la sociedad."
                </p>
            </div>
            <div class="container container-valores">
                <h3>
                    Valores
                </h3>
                <img src="img/values.png" alt="Valores">
                <p>
                    "En BJRSoftware, nos esforzamos por mantener los más altos estándares de calidad en todo lo que
                    hacemos.
                    Nuestros valores fundamentales son la base de nuestra cultura y nos guían en nuestro trabajo diario.
                    Estos valores son: Integridad, Compromiso, Colaboración, Respeto, Responsabilidad y Excelencia."
                </p>

            </div>
        </div>

    </div>
</div>