<div class="container-about">

    <h1>
        Acerca de <span class="text-primary">Mi</span>
    </h1>
    <p>
        ¡Hola de nuevo! Soy <span class="text-primary">Damar</span>
        un apasionado desarrollador de software
        con una sólida formación y experiencia en el
        mundo de la programación. Aquí hay un vistazo
        más de cerca a mi viaje:
    </p>
</div>