<div class="container-about">
    <div class="primary-section">
        <h1>
            Quiénes somos
        </h1>
        <p>
            En BJRSoftware, reunimos un equipo apasionado de desarrolladores de software comprometidos con la
            excelencia.
            Nuestra experiencia abarca desde el desarrollo web hasta aplicaciones de escritorio, y estamos listos para
            abordar cualquier desafío que se nos presente.
        </p>
    </div>
    <div class="secondary-section">
        <div class="container container-mision">
            <h2>
                Misión
            </h2>
            <p>
                "Transformar visiones en realidades digitales mediante soluciones de software innovadoras. En
                BJRSoftware, nos comprometemos a ofrecer a nuestros clientes y socios tecnológicos experiencias
                excepcionales, superando expectativas a través de la excelencia en el desarrollo de software. Impulsados
                por la creatividad y la pasión por la tecnología, buscamos construir un futuro digital más accesible y
                eficiente para todos."
            </p>
        </div>
        <div class="container container-vision">
            <h2>
                Visión
            </h2>
            <p>
                "Ser reconocidos como líderes en el desarrollo de software, impulsando la innovación y la transformación
                digital. En BJRSoftware, visualizamos un mundo donde las ideas se materializan en soluciones digitales
                excepcionales. Aspiramos a ser pioneros en la creación de tecnologías vanguardistas que inspiren y
                empoderen a individuos y empresas, contribuyendo así al progreso continuo de la sociedad."
            </p>
        </div>
    </div>
</div>