<main class="main">
    <div class="dark-bg"></div>
    <div class="img-content">
        <div class="img-profile">
        <img src="./img/damar.png" alt="profile">
    </div>
    </div>
    
    <div class="container-text">
        <h1>
            Hola, soy <span class="name">Damar Narváez.</span><span class="cursor">|</span>
        </h1>
        <p class="text">
            ¡Bienvenido a mi rincón digital! Soy un apasionado desarrollador de software con experiencia en la creación de proyectos web y de escritorio. Mi misión es transformar ideas en soluciones digitales funcionales y atractivas.
        </p>
    </div>
</main>
<section class="section section-1">
    <div class="container">
        <h2>
            ¿Quién soy?
        </h2>
        <p>
            Soy Damar, un entusiasta del código y la tecnología.
            Mi viaje en el desarrollo de software me ha llevado a trabajar con tecnologías como PHP, 
            Node.js, JavaScript, MySQL, y muchas más. Disfruto del desafío de encontrar soluciones 
            creativas para problemas complejos y tengo un compromiso constante con el 
            aprendizaje y la mejora continua.
        </p>
    </div>
</section>
<section class="section section-2">
    <div class="container">
        <h2>
            ¿Que hago?
        </h2>
        <p>
           Mi enfoque principal es el desarrollo web y de escritorio. 
           He trabajado en diversos proyectos, 
           desde aplicaciones web interactivas 
           hasta robustas aplicaciones de escritorio 
           utilizando Electron.js. Mi habilidad para 
           trabajar con bases de datos como MySQL y 
           SQLite me permite diseñar sistemas eficientes y escalables.
        </p>
    </div>
</section>